.forum-home-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color: #E1E8E3;
}

.inline {
    display: inline;
}

.under {
    z-index: 0;
}

.question-title {
    font-size: 15px;
    color: #26A69A;
}

.green-div {
    background-color: #5FBA7D;
    border-radius: 5px;
}

.green-div label {
    color: white;
    padding: 3px;
}

.red-div {
    background-color: red;
    border-radius: 5px;
}

.red-div label {
    color: white;
    padding: 3px;
}
