<div class="col-md-5">
  
</div> 

<div class="sign-up-container row">   
  <div class="row col-md-6 z-depth-4 card-panel">
    <div class="sign-up-text">
      <h4>Cadastre-se</h4>
      <span>Grupos de estudos, vídeos, fórum, exercícios e muito mais</span>
    </div>

    <div class="divider"></div>
    
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate">
          <label for="name">Nome</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>          
          <input id="last-name" type="text" class="validate">
          <label for="last-name">Sobrenome</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>                    
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">lock_outline</i>          
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Senha</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock_outline</i>                    
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Confirmar senha</label>
        </div>
      </div>

      <button class="col-md-offset-4 btn waves-effect waves-light" type="submit" name="action">Cadastrar
        <i class="material-icons right">lock_outline</i>
      </button>
    </form>
  </div>
 </div>

<div class="row">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Easy Learning</h5>
          <p class="grey-text text-lighten-4">We should be doing this with Django or Rails.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/flpn/easy-learning">Source code repository</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright Text
      <a class="grey-text text-lighten-4 right" href="http://www.faculdadenovaroma.com.br/">Faculdade Nova Roma</a>
      </div>
    </div>
  </footer>
</div>