.sign-up-container {
    margin-top: 25px;
    margin-left: 35%;
    opacity: .85;
}


.sign-up-text h4, span {
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
  text-align: center;
}

.page-footer {
    background-color: #26A69A;
}

#sign-up-page{
    background: url(https://firebasestorage.googleapis.com/v0/b/easy-learning-7f4d1.appspot.com/o/imagens%20do%20site%2Fcomputer-1185626_1920.jpg?alt=media&token=767770b2-9345-40c3-9841-735e5cd2fcc1) 
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }