
.sign-up-container {
    margin-top: 25px;
    margin-left: 35%;
    opacity: 0.95;
 }

 .sign-up-text h4, span {
   text-transform: uppercase;
   font-weight: normal;
   color: rgba(0,0,0,0.87);
   text-align: center;
 }
 
 #sign-up-page{
    height: 100vh;
    background: #29b6f6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #29b6f6, #ff9800 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #29b6f6, #ff9800); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #29b6f6, #ff9800); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #29b6f6, #ff9800); /* Standard syntax */
 }

 .input-field input[type=email]:focus + label {
    color: #29b6f6;
  }
  
  .input-field input[type=password]:focus + label {
    color: #29b6f6;
  }
  
  .input-field input[type=text]:focus {
  border-bottom: 1px solid #29b6f6;
  box-shadow: 0 1px 0 0 #29b6f6;
  }
  
  .input-field input[type=text].valid {
    border-bottom: 1px solid #29b6f6;
    box-shadow: 0 1px 0 0 #29b6f6;
  }
  
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #29b6f6;
    box-shadow: 0 1px 0 0 #29b6f6;
  }
  
  .input-field .prefix.active {
    color: #29b6f6;
  }