<nav>
    <div class="nav-wrapper">
        <a [routerLink]="['/home']" class="brand-logo"><i class="material-icons">book</i>Easy Learning</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a [routerLink]="['/forumHome']"><i class="material-icons left">forum</i>Fórum</a></li>
        <li><a [routerLink]="['/groupsHome']"><i class="material-icons left">group</i>Grupos</a></li>
        <li><a href="collapsible.html"><i class="material-icons left">import_contacts</i>Exercícios</a></li>
        <li><a (click)="logout()"><i class="material-icons left">exit_to_app</i>Sair</a></li>
        </ul>
    </div>
</nav>

<div class="padd-on-top home-container">
    <span>Home em construção...</span>
</div>