<section id="container" [ngClass]="{'sidebar-closed': true, 'white-bg': isNoAuthorizedPage()}" style="height: 100vh;">
  <header [hidden]="isNoAuthorizedPage()"  class="header black-bg">
    <div class="sidebar-toggle-box">
      <a id="menu" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    
    <!-- <a href="#" class="logo"><img style="width: 50px;" src="../assets/img/logo.png"/></a> -->
    <div class="top-menu">
      <ul id="nav-mobile" class="right hide-on-med-and-down nav-actions">
        <li><a style="cursor: move" (click)="logout()">Sair</a></li>
      </ul>
    </div>
  </header>

  <router-outlet></router-outlet>
</section>


<ul id="slide-out" class="side-nav">
  <li class="nav-title">
    <div *ngIf="!isLoading" class="userView">
      <div class="row col s12">
        <div class="col s5">
          <a href="#!user"><img class="circle restaurant-image" src="{{ currentUser.profileImage }}"></a>
        </div>
        <div class="col s6 score">
          <span class="white-span">{{ currentUser.score }} pontos</span>    
        </div>
      </div>
      <a href="#!name"><span class="white-text name">{{ currentUser.name }} {{ currentUser.lastname }}</span></a>
      <a href="#!email"><span class="white-text email">{{ currentUser.email }}</span></a>
    </div>
  </li>
  <li><a (click)="closeNav()" [routerLink]="['/home']"><i class="material-icons">info_outline</i>Página principal</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader"><i class="material-icons">settings</i> Opções de Grupos</a></li>
  <li><a class="waves-effect" (click)="closeNav()">Gerenciar Grupos</a></li>
  <li><a class="waves-effect" (click)="closeNav()">Mais populares</a></li>
  <li><a class="waves-effect" (click)="closeNav()">Recomendados</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader"><i class="material-icons">insert_chart</i> Fórum</a></li>
  <li><a class="waves-effect" (click)="closeNav()" [routerLink]="['/forumHome']" >Perguntas</a></li>
  <li><div class="divider"></div></li>  
  <li><a class="subheader"><i class="material-icons">account_circle</i>Perfil</a></li>
  <li><a class="waves-effect" (click)="closeNav()">Gerenciar perfil</a></li>  
</ul>