.group-detail-container {
    background-color: #E1E8E3;
}

.group-detail {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.padding-button {
    padding-top: 45px;
}

.logo-picture {
    width: 50px; 
    border-radius: 100%;
}