/* .group-detail-container {
    background-color: #E1E8E3;
}

.group-detail {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.padding-button {
    padding-top: 45px;
}

.logo-picture {
    width: 50px; 
    border-radius: 100%;
} */

.logo-picture {
    width: 50px; 
    border-radius: 100%;
    margin-right: 15px;
} 

.card {
    background-color: rgb(238, 238, 238) !important;
}

.date {
    color: #29b6f6;
}