.create-question-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #E1E8E3;
}

.create-question {
    background-color: white;
}

.title {
    padding: 10px;
}

.margin-button {
    margin: 10px;
}