 <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->



  <div id="login-page" class="row">
    <div class="col-md-4">
    </div>

    <div class="login-card col s4 z-depth-4 card-panel">
      <form #loginForm="ngForm" class="login-form" name="loginForm" id="loginForm" method="post">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="../../../assets/img/logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Easy Learning</p>
          </div>
        </div>
        
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input class="validate" id="email" name="email" type="email" [(ngModel)]="email"
             maxlength="30" required>
            <label for="email" class="center-align" data-error="Digite um formato de email válido">Email</label>
          </div>
        </div>
        
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input class="validate" min="4" id="password" name="password" type="password" [(ngModel)]="password"
             maxlength="20" minlength="6" required>
            <label for="password" data-error="A senha deve conter entre 6 e 20 caracteres">Senha</label>
          </div>
        </div>
        
        <div>
          <button ion-button color="secondary"
            (click)="loginFacebook()">Entrar com o Facebook</button>
        </div>
        
        <div class="row">          
          <div class="col s12">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Lembrar-me</label>
          </div>
        </div>
        
        <div class="row">
          <button [disabled]="!loginForm.form.valid" class="btn waves-effect waves-light col s12" (click)="login()">Entrar
            <i class="material-icons right">send</i>
          </button> 
        </div>

        <div class="row">
          <div class="links input-field col s6 m6 l6">
            <p (click)="goToSignUp()" class="margin medium-small"><a>Crie uma conta!</a></p>
          </div>
          <div class="links input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a>Esqueceu a senha?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
