<div class="row custom-font">
  <div class="col s6 no-padding">
    <div class="slider">
      <ul class="slides">
        <li class="crs1 full">
          <div class="caption center-align cont">
            <h3 class="bold-text grey-text text-darken-4">Pergunte e responda!</h3>
            <h5 class="light grey-text text-darken-4">Venha ser mais um no nosso fórum e ajude nossa comunidade a crescer!</h5>
          </div>
        </li>
        <li class="crs2 full">
          <div class="caption center-align cont">
            <h3 class="bold-text grey-text text-darken-4">Compartilhe conhecimento!</h3>
            <h5 class="light grey-text text-darken-4">Troque matériais, artigos e matérias nos gripos de estudo.</h5>
          </div>
        </li>
        <li class="crs3 full">
          <div class="caption center-align cont">
            <h3 class="bold-text grey-text text-darken-4">Teste seu conhecimento!</h3>
            <h5 class="light grey-text text-darken-4">Pratique e teste suas habilidades na nossa área de exercícios.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>   

  <div class="col s6 frm valign-wrapper">
    <div class="container">
      <div class="section card z-depth-4">
        <h4 class="header center grey-text">Bem-vindo ao <label class="header-brand">Easy Learning</label>!</h4>
          
        <form #loginForm="ngForm" class="login-form" name="loginForm" id="loginForm" method="post">
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">account_circle</i>
                <input class="validate" id="email" name="email" type="email" [(ngModel)]="email"
                  maxlength="30" required>
                <label for="email x" class="center-align" data-error="Digite um formato de email válido">Email</label>
              </div>

              <div class="row">
                <div class="input-field col s10 offset-s1">
                  <i class="material-icons prefix">lock_outline</i>
                  <input class="validate" min="4" id="password" name="password" type="password" [(ngModel)]="password"
                    maxlength="20" minlength="6" required>
                  <label for="password" data-error="A senha deve conter entre 6 e 20 caracteres">Senha</label>
                </div>
              </div>

              <div class="row">
                <button [disabled]="!loginForm.form.valid" class="btn waves-effect waves-light col s6 login-button offset-s3 orange" (click)="login()">Entrar
                  <i class="material-icons right">send</i>
                </button> 
              </div>
              
              <div class="row">
                <button class="btn waves-effect waves-light col s3 offset-s2 facebook-button" (click)="loginWithFacebook()">Facebook
                  <i class="material-icons right">send</i>
                </button> 
                <button class="btn waves-effect waves-light col s3 offset-s2 google-button" (click)="loginWithGoogle()">Google
                  <i class="material-icons right">send</i>
                </button> 
              </div>
            </div>

            <div class="row">
              <div class="links input-field">
                <p (click)="goToSignUp()" class="center sign-up"><a class="orange-text">Ainda não tem uma conta? <strong>Crie uma agora mesmo!</strong></a></p>
              </div>        
            </div>
        </form>
      </div>
    </div>
  </div>
</div>