#login-page {
  /* background-color: #a9fff6;   */
  background: url(https://firebasestorage.googleapis.com/v0/b/easy-learning-7f4d1.appspot.com/o/imagens%20do%20site%2Fbackground.jpg?alt=media&token=39136a20-06a0-4fc2-b4da-20d7756f6e5b) 
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height:100vh;
}

.login-card{
  background-color: #ffffff;      
  opacity: .85;
}
.profile-image-login {
  width: 230px;
}

.login-form-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}

.links {
  cursor: pointer;
}