<nav>
  <div class="nav-wrapper">
      <a [routerLink]="['/home']" class="brand-logo"><i class="material-icons">book</i>Easy Learning</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/forumHome']"><i class="material-icons left">forum</i>Fórum</a></li>
      <li class="active"><a [routerLink]="['/groupsHome']"><i class="material-icons left">group</i>Grupos</a></li>
      <li><a href="collapsible.html"><i class="material-icons left">import_contacts</i>Exercícios</a></li>
      <li><a (click)="logout()"><i class="material-icons left">exit_to_app</i>Sair</a></li>
      </ul>
  </div>
</nav>


<div class="create-group-container padd-on-top">
  <div class="create-group">    
    <h3 class="title">Criar Grupo</h3>
    <div class="divider"></div>

    <form #createQuestionForm="ngForm" class="col-s12" id="createGroupForm" name="createGroupForm" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="newGroup.title" id="title" name="title" type="text" class="validate" required>
          <label for="disabled">Título</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="newGroup.description" id="body" name="body" class="materialize-textarea" required></textarea>
          <label for="body">Descrição</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="newGroup.groupImage" type="text" id="tags" name="tags" class="autocomplete" required>
          <label for="tags">Imagem</label>
        </div>
      </div>

      <button  class="btn waves-effect waves-light margin-button"
      type="submit" name="action" (click)="createGroup()">Criar Grupo</button>
    </form>
  </div>  
</div>