.question-detail-info {
    /*width: 90%;*/
}

.question-title {
    font-size: 20px;
    font-weight: bold;
}

.user-info {
    background-color: #E0EAF1;
} 

.question-date {
    font-size: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-red {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
} /* Red */ 

.button-red-answer {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}