<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a [routerLink]="['/home']" id="logo-container" class="brand-logo"><i class="material-icons">book</i>Easy Learning</a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a [routerLink]="['/forumHome']"><i class="material-icons left">forum</i>Fórum</a></li>
      <li><a [routerLink]="['/groupsHome']"><i class="material-icons left">group</i>Grupos</a></li>
      <li><a><i class="material-icons left">import_contacts</i>Exercícios</a></li>
      <li><a (click)="logout()"><i class="material-icons left">exit_to_app</i>Sair</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a (click)="logout()">Sair</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>


<div class="section no-pad-bot" id="index-banner">
  
  <div *ngIf="isLoading" class="progress">
    <div class="indeterminate"></div>
  </div>
  
  <div *ngIf="!isLoading" class="container">
    <h3 class="header orange-text"><i class="medium material-icons left">forum</i>{{ currentQuestion.title }}</h3>
    <div class="divider"></div>
  </div>
</div>

<div *ngIf="!isLoading" class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4 l1 center-align">
          <i (click)="setScoreQuestion(1)" class="material-icons vote">expand_less</i>
          <div class="score">{{ currentQuestion.score }}</div>
          <i (click)="setScoreQuestion(-1)" class="material-icons vote">expand_more</i>
      </div>

      <div class="col s12 m4 l7">
        <div>
            {{ currentQuestion.text }}
        </div>
        
        <br>
        <div class="row padd" *ngIf="checkUser(currentQuestion.user)">
          <label><a class="modal-trigger" href="#modal1">editar</a></label>
          <label><a class="" (click)="deleteQuestion()">excluir</a></label>
        </div>
      </div>
      
      <div class="col s12 m4 l4 center-align">
        <div class="row">
          <label class="info">perguntado: {{ currentQuestion.published | date: 'dd/MM/yyyy' }}</label>
        </div>

        <div class="row">
            <label class="info">visualizado: 32 vezes</label>
        </div>
      </div>
    </div>  

    <div class="divider"></div>
    <h5 *ngIf="!currentQuestion.answers">0 respostas</h5>
    <br>
    
    <div *ngIf="currentQuestion.answers">
      <h5 class="orange-text">{{ currentQuestion.answers.length }} respostas</h5>
      <br>

      <div *ngFor="let answer of currentQuestion.answers; let i = index" class="row">
        <div class="col s12 m4 l1 center-align">
            <i (click)="setScoreAnswer(answer, 1)" class="material-icons vote">expand_less</i>
            <div class="score">{{ answer.score}}</div>
            <i (click)="setScoreAnswer(answer, -1)" class="material-icons vote">expand_more</i>
        </div>

        <div class="col s12 m4 l7">
          <div>{{ answer.text }}</div>
          
          <div class="row padd" *ngIf="checkUser(answer.user)">
            <br>
            <label (click)="edit(answer)"><a>editar</a></label>
            <label (click)="removeAnswer(answer)"><a>excluir</a></label>
          </div>
          
          <div class="row padd" *ngIf="!checkUser(answer.user)">
            <br>
            <label style="color: white;">editar</label>
            <label style="color: white;">exluir</label>
          </div>

          <div *ngIf="(i === index) && show">
              <textarea [(ngModel)]="answer.text" id="answer" name="answer" class="materialize-textarea" required></textarea>
              <button type="button" class="btn waves-effect waves-light answer-button orange"
              (click)="updateAnswer(answer, index)">Atualizar</button>
          </div>

          <div class="divider"></div>
        </div>
      </div>
    </div>

    <br>
    <h5 class="padd">Sua resposta</h5>
    <div class="row question-info">
      <form class="col s12" #questionDetailForm="ngForm" id="questionDetailForm" name="questionDetailForm" method="post">
        <div class="row">
          <div class="input-field col s12">
            <textarea [(ngModel)]="answer.text" id="answer" name="answer" class="materialize-textarea" required></textarea>
            <label for="textarea1">Digite sua resposta</label>
          </div>
        </div>

        <button [disabled]="!questionDetailForm.form.valid" class="waves-effect waves-light btn orange margin-all"
        type="submit" name="action" (click)="createAnswer()"><i class="material-icons right">send</i>Publique sua resposta</button>
      </form>
    </div>
  </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="orange-text">Editar pergunta</h4>
    
    <div class="row">
      <div class="divider"></div>        
      <h3>{{ currentQuestion.title }}</h3>
      <div class="divider"></div>
    </div>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea [(ngModel)]="currentQuestion.text" id="questionDescriptionUpdate" name="questionDescriptionUpdate" class="materialize-textarea" required></textarea>
            <label for="textarea2">Corpo da pergunta</label>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" [(ngModel)]="currentQuestion.tags" id="questionTagsUpdate" name="questionTagsUpdate" required>
        <label for="tags">Tags</label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat " (click)="updateQuestion()">Editar</a>
  </div>
</div>