/* .question-detail-container {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #E1E8E3;
}

.question-title {
    font-size: 20px;
    font-weight: bold;
}

.user-info {
    background-color: #E0EAF1;
} 

.question-date {
    font-size: 10px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-red {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
} 

.button-red-answer {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.thumbs-green {
    font-size: 20px;
    color: green;    
}

.thumbs-red {
    font-size: 20px;    
    color: red;
}

.green {
    color: green;
}

.best-answer {
    margin-bottom: 55px;
} */

.nav-wrapper {
    background-color: #1E467A;
    padding-left: 5px;
}

.collection .collection-item {
    color: #1E467A;
}

.collection .active{
    background-color: #1E467A;
    color: white;
}

select option {
    color: #1E467A;    
}

.collection a {
    font-size: 20px;
}

.add-button {
    background-color: #FFCD05;
}

.b {
    color: #1E467A;
}

.padd {
    padding-top: 20px;
}

.header {
    font-size: 24px;
}

.score {
    font-size: 25px;
}

.answer-button {
    background-color: #FFCD05;
    color: #1E467A;    
}

.question-info {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #1E467A;
}

.info {
    font-size: 15px;
}

.margin-all {
    margin: 10px;
}