.margin-all {
    margin: 10px;
} 

.vote {
    cursor: pointer;
}

.question-info {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #29B6F6;
}

.curs {
    cursor: pointer;
}